dita/plugins/gov.nist.scap.doctypes/rnc/tblDeclMod.rnc

namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"
namespace dita = "http://dita.oasis-open.org/architecture/2005/"

dita:moduleDesc [
  "\x{a}" ~
  "   "
  dita:moduleTitle [ "XML EXCHANGE TABLE MODEL DECLARATION" ]
  "\x{a}" ~
  "   "
  dita:headerComment [
    "\x{a}" ~
    "=============================================================\x{a}" ~
    "                   HEADER                                    \x{a}" ~
    "=============================================================\x{a}" ~
    " MODULE:    XML EXCHANGE TABLE MODEL DECLARATION MODULE      \x{a}" ~
    " VERSION:   1.2                                              \x{a}" ~
    " DATE:      November 2009                                    \x{a}" ~
    "                                                             \x{a}" ~
    "=============================================================\x{a}" ~
    "\x{a}" ~
    "            (C) Copyright OASIS Open 2005, 2009.             \x{a}" ~
    "            (C) Copyright IBM Corporation 2001, 2004.        \x{a}" ~
    "            All Rights Reserved.                             \x{a}" ~
    "                                                             \x{a}" ~
    " UPDATES:                                                    \x{a}" ~
    '   2005.11.15 RDA: Corrected the "Delivered as" system ID    \x{a}' ~
    "   2006.06.07 RDA: Make universal attributes universal       \x{a}" ~
    "                     (DITA 1.1 proposal #12)                 \x{a}" ~
    "   2006.11.30 RDA: Add -dita-use-conref-target to enumerated \x{a}" ~
    "                     attributes                              \x{a}" ~
    "   2008.02.13 RDA: Create .content and .attributes entities; \x{a}" ~
    "                   requires reorganization of some existing  \x{a}" ~
    "                   entities provided with the Exchange Model \x{a}" ~
    "\x{a}" ~
    "=============================================================\x{a}" ~
    ' Delivered as file "tblDecl.mod"                             \x{a}' ~
    "=============================================================\x{a}" ~
    "\x{a}" ~
    "\x{a}" ~
    "XML EXCHANGE TABLE MODEL DECLARATION MODULE                  \x{a}" ~
    "\x{a}" ~
    "OASIS DITA 1.0 notes:\x{a}" ~
    "     The Exchange Table Model replaces the original CALS-based model\x{a}" ~
    "     used in development versions of the DITA definition.\x{a}" ~
    "     This set of declarations defines the XML version of the Exchange\x{a}" ~
    "     Table Model as adapted for OASIS DITA version 1.0.\x{a}" ~
    "     The base for the DITA version of the Exchange Table Model is\x{a}" ~
    "     defined at http://www.oasis-open.org/specs/tm9901.htm .\x{a}" ~
    "     The DITA version specifically extends this model with these DITA-\x{a}" ~
    "     specific content and attribute adaptations to the DITA processing\x{a}" ~
    "     requirements:\x{a}" ~
    "\x{a}" ~
    "STRUCTURE:\x{a}" ~
    "\x{a}" ~
    "Introduce the DITA-unique <desc> element (optional after <title>); this element\x{a}" ~
    "enables more consistent presentation of both figures and tables.\x{a}" ~
    "\x{a}" ~
    "\x{a}" ~
    "ATTRIBUTES:\x{a}" ~
    "\x{a}" ~
    "For frame, align, and valign attributes on any element:\x{a}" ~
    "  Add the enumerated value -dita-use-conref-target for DITA 1.1.  \x{a}" ~
    "\x{a}" ~
    "For the <table> element, add:\x{a}" ~
    "  %univ-atts; which consists of:\x{a}" ~
    "    %select-atts; [for selection, conditional processing]\x{a}" ~
    "    %id-atts; [for conref and linking]\x{a}" ~
    "    %localization-atts (@translate + @xml:lang) [for NLS processing support]\x{a}" ~
    "    %global-atts; (@xtrf + @xtrc) [for tracing and messaging support in processors]\x{a}" ~
    "    @class [for specialization support]\x{a}" ~
    "  @outputclass [for role designation (ie, styles, future migrations)]\x{a}" ~
    "  @rowheader [for accessibility support in processing]\x{a}" ~
    "  %display-atts; which consists of:\x{a}" ~
    "    @scale [for presentational equivalence with other scaled exhibits: fig, pre, lines, simpletable]\x{a}" ~
    "    @frame (already part of table)\x{a}" ~
    "    @pgwide (already part of table, same intent as original @expanse)\x{a}" ~
    "\x{a}" ~
    "For <tgroup>, <thead>, <tbody>, and <row>, add:\x{a}" ~
    "  %univ-atts;\x{a}" ~
    "  %global-atts;\x{a}" ~
    "  @class\x{a}" ~
    "  @outputclass [for role designation (ie, styles, future migrations)]\x{a}" ~
    "\x{a}" ~
    "For <entry>, add:\x{a}" ~
    "  %id-atts;\x{a}" ~
    "  %global-atts\x{a}" ~
    "  @class\x{a}" ~
    "  @outputclass [for role designation (ie, styles, future migrations)]\x{a}" ~
    "  @rev [for indication of revised content for flag-based processing]\x{a}" ~
    "\x{a}" ~
    " "
  ]
  "\x{a}" ~
  "   "
  dita:moduleMetadata [
    "\x{a}" ~
    "     "
    dita:moduleType [ "base" ]
    "\x{a}" ~
    "     "
    dita:moduleShortName [ "tblDecl" ]
    "\x{a}" ~
    "     "
    dita:modulePublicIds [
      "\x{a}" ~
      "       "
      dita:dtdMod [
        "-//OASIS//ELEMENTS DITA"
        dita:var [ presep = " " name = "ditaver" ]
        " Exchange Table Model//EN"
      ]
      "\x{a}" ~
      "       "
      dita:xsdMod [
        "urn:oasis:names:tc:dita:xsd:tblDeclMod.xsd"
        dita:var [ presep = ":" name = "ditaver" ]
      ]
      "\x{a}" ~
      "       "
      dita:xsdGrp [
        "urn:oasis:names:tc:dita:xsd:tblDeclGrp.xsd"
        dita:var [ presep = ":" name = "ditaver" ]
      ]
      "\x{a}" ~
      "       "
      dita:rncMod [
        "urn:oasis:names:tc:dita:rnc:tblDeclMod.rnc"
        dita:var [ presep = ":" name = "ditaver" ]
      ]
      "\x{a}" ~
      "       "
      dita:rngMod [
        "urn:oasis:names:tc:dita:rng:tblDeclMod.rng"
        dita:var [ presep = ":" name = "ditaver" ]
      ]
      "\x{a}" ~
      "     "
    ]
    "\x{a}" ~
    "     "
    dita:domainsContribution [ ]
    "\x{a}" ~
    "   "
  ]
  "\x{a}" ~
  " "
]
# Define type patterns
yesorno = xsd:NMTOKEN

## NOTE: This pattern is never referenced. Retained for backward compatibility.
titles = title?
# no if zero(s), yes if any other value
paracon = tblcell.cnt
tbl.table.name = xsd:Name "table"
# default for use in entry content
tbl.table-titles.mdl = title?, desc?
tbl.table-main.mdl = tgroup+
tbl.table.mdl = tbl.table-titles.mdl, tbl.table-main.mdl
tbl.table.att = attribute pgwide { yesorno }?
bodyatt = empty
tbl.tgroup.mdl = colspec*, thead?, tbody
tbl.tgroup.att = empty
tbl.thead.att = empty
tbl.tbody.att = empty
tbl.colspec.att =
  attribute base { text }?,
  base-attribute-extensions
tbl.row.mdl = entry+
tbl.row.att = empty
tbl.entry.mdl = paracon*
tbl.entry.att =
  attribute base { text }?,
  base-attribute-extensions
# DITA BEHAVIOR ATTRIBUTES
dita.table.attributes =
  [ dita:since = "1.3" ]
  attribute orient { "port" | "land" | "-dita-use-conref-target" }?,
  attribute rowheader {
    "firstcol"
    | [ dita:since = "1.3" ] "headers"
    | "norowheader"
    | "-dita-use-conref-target"
  }?,
  attribute scale {
    "50"
    | "60"
    | "70"
    | "80"
    | "90"
    | "100"
    | "110"
    | "120"
    | "140"
    | "160"
    | "180"
    | "200"
    | "-dita-use-conref-target"
  }?,
  univ-atts,
  attribute outputclass { text }?
dita.tgroup.attributes =
  univ-atts,
  attribute outputclass { text }?
dita.thead.attributes =
  univ-atts,
  attribute outputclass { text }?
dita.tbody.attributes =
  univ-atts,
  attribute outputclass { text }?
dita.row.attributes =
  univ-atts,
  attribute outputclass { text }?
dita.entry.attributes =
  id-atts,
  localization-atts,
  # rotate      (0|1|-dita-use-conref-target)
  [ dita:since = "1.3" ] attribute rotate { yesorno }?,
  attribute rev { text }?,
  attribute outputclass { text }?,
  [ dita:since = "1.3" ]
  attribute scope {
    "row" | "col" | "rowgroup" | "colgroup" | "-dita-use-conref-target"
  }?,
  [ dita:since = "1.3" ] attribute headers { xsd:NMTOKENS }?
dita.colspec.attributes = id-atts, localization-atts
#
table.content = tbl.table.mdl
table.attributes =
  attribute frame {
    "top"
    | "bottom"
    | "topbot"
    | "all"
    | "sides"
    | "none"
    | "-dita-use-conref-target"
  }?,
  attribute colsep { yesorno }?,
  attribute rowsep { yesorno }?,
  tbl.table.att,
  bodyatt,
  dita.table.attributes
table.element =
  [ dita:longName = "Table" ]
  element table { table.attlist, table.content }
table.attlist &= table.attributes
#
tgroup.content = tbl.tgroup.mdl
tgroup.attributes =
  attribute cols { xsd:NMTOKEN },
  attribute colsep { yesorno }?,
  attribute rowsep { yesorno }?,
  attribute align {
    "left"
    | "right"
    | "center"
    | "justify"
    | "char"
    | "-dita-use-conref-target"
  }?,
  tbl.tgroup.att,
  dita.tgroup.attributes
tgroup.element =
  
  ## The <tgroup> element in a table contains column, row, spanning, header and
  ##         footer specifications, and the body (<tbody>) of the table. 
  ##         Category: Table elements
  [ dita:longName = "Table Group" ]
  element tgroup { tgroup.attlist, tgroup.content }
tgroup.attlist &= tgroup.attributes
#
colspec.content = empty
colspec.attributes =
  attribute colnum { xsd:NMTOKEN }?,
  attribute colname { xsd:NMTOKEN }?,
  attribute colwidth { text }?,
  attribute colsep { yesorno }?,
  attribute rowsep { yesorno }?,
  attribute align {
    "left"
    | "right"
    | "center"
    | "justify"
    | "char"
    | "-dita-use-conref-target"
  }?,
  attribute char { text }?,
  attribute charoff { xsd:NMTOKEN }?,
  [ dita:since = "1.3" a:defaultValue = "headers" ]
  attribute rowheader {
    "firstcol"
    | [ dita:since = "1.3" ] "headers"
    | "norowheader"
    | "-dita-use-conref-target"
  }?,
  tbl.colspec.att,
  dita.colspec.attributes
colspec.element =
  
  ## The <colspec> element contains a column specification for a table,
  ##         including assigning a column name and number, cell content alignment, and column width.
  ##         Category: Table elements
  [ dita:longName = "Column Specification" ]
  element colspec { colspec.attlist, colspec.content }
colspec.attlist &= colspec.attributes
#
thead.content = row+
thead.attributes =
  attribute valign {
    "top" | "middle" | "bottom" | "-dita-use-conref-target"
  }?,
  tbl.thead.att,
  dita.thead.attributes
thead.element =
  
  ## The table header (<thead>) element precedes the table body (<tbody>)
  ##         element in a complex table. 
  ##         Category: Table elements
  [ dita:longName = "Table Header" ]
  element thead { thead.attlist, thead.content }
thead.attlist &= thead.attributes
#
tbody.content = row+
tbody.attributes =
  attribute valign {
    "top" | "middle" | "bottom" | "-dita-use-conref-target"
  }?,
  tbl.tbody.att,
  dita.tbody.attributes
tbody.element =
  
  ## The <tbody> element contains the rows in a table. 
  ##         Category: Table elements
  [ dita:longName = "Table Body" ]
  element tbody { tbody.attlist, tbody.content }
tbody.attlist &= tbody.attributes
#
row.content = tbl.row.mdl
row.attributes =
  attribute rowsep { yesorno }?,
  attribute valign {
    "top" | "middle" | "bottom" | "-dita-use-conref-target"
  }?,
  tbl.row.att,
  dita.row.attributes
row.element =
  
  ## The <row> element contains a single row in a table <tgroup>. 
  ##         Category: Table elements
  [ dita:longName = "Table Row" ]
  element row { row.attlist, row.content }
row.attlist &= row.attributes
#
entry.content = tbl.entry.mdl
entry.attributes =
  attribute colname { xsd:NMTOKEN }?,
  attribute namest { xsd:NMTOKEN }?,
  attribute nameend { xsd:NMTOKEN }?,
  attribute morerows { xsd:NMTOKEN }?,
  attribute colsep { yesorno }?,
  attribute rowsep { yesorno }?,
  attribute align {
    "left"
    | "right"
    | "center"
    | "justify"
    | "char"
    | "-dita-use-conref-target"
  }?,
  attribute char { text }?,
  attribute charoff { xsd:NMTOKEN }?,
  attribute valign {
    "top" | "middle" | "bottom" | "-dita-use-conref-target"
  }?,
  tbl.entry.att,
  dita.entry.attributes
entry.element =
  
  ## The <entry> element defines a single cell in a table. 
  ##         Category: Table elements
  [ dita:longName = "Table Row Entry" ]
  element entry { entry.attlist, entry.content }
entry.attlist &= entry.attributes
# Specialization attributes. Global attributes and class defaults
table.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/table " ] attribute class { text }?
tgroup.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/tgroup " ] attribute class { text }?
colspec.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/colspec " ] attribute class { text }?
thead.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/thead " ] attribute class { text }?
tbody.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/tbody " ] attribute class { text }?
row.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/row " ] attribute class { text }?
entry.attlist &=
  global-atts,
  [ a:defaultValue = "- topic/entry " ] attribute class { text }?
