dita/plugins/gov.nist.scap.doctypes/rng/ditavalrefDomain.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:ditaarch="http://dita.oasis-open.org/architecture/2005/" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <ditaarch:moduleDesc>
    <ditaarch:moduleTitle>DITAVAL Reference Domain</ditaarch:moduleTitle>

    <ditaarch:headerComment> ============================================================= DITAVAL Reference
      Domain ============================================================= </ditaarch:headerComment>

    <ditaarch:moduleMetadata>
      <ditaarch:moduleType>elementdomain</ditaarch:moduleType>

      <ditaarch:moduleShortName>ditavalref-d</ditaarch:moduleShortName>

      <ditaarch:modulePublicIds>
        <ditaarch:dtdMod>-//OASIS//ELEMENTS DITA<ditaarch:var presep=" " name="ditaver"/>
 DITAVAL Ref Domain//EN</ditaarch:dtdMod>

        <ditaarch:dtdEnt>-//OASIS//ENTITIES DITA<ditaarch:var presep=" " name="ditaver"/>
 DITAVAL Ref Domain//EN</ditaarch:dtdEnt>

        <ditaarch:xsdMod>urn:oasis:names:tc:dita:xsd:ditavalrefDomain.xsd<ditaarch:var presep=":" name="ditaver"/>
        </ditaarch:xsdMod>

        <ditaarch:rncMod>urn:oasis:names:tc:dita:rnc:ditavalrefDomain.rnc<ditaarch:var presep=":" name="ditaver"/>
        </ditaarch:rncMod>

        <ditaarch:rngMod>urn:oasis:names:tc:dita:rng:ditavalrefDomain.rng<ditaarch:var presep=":" name="ditaver"/>
        </ditaarch:rngMod>

      </ditaarch:modulePublicIds>

      <ditaarch:domainsContribution>(map ditavalref-d)</ditaarch:domainsContribution>

    </ditaarch:moduleMetadata>

  </ditaarch:moduleDesc>
  <div>
    <a:documentation>DOMAIN EXTENSION PATTERNS</a:documentation>
    <define name="ditavalref-d-topicref">
      <ref name="ditavalref.element"/>
    </define>
    <define name="topicref" combine="choice">
      <ref name="ditavalref-d-topicref"/>
    </define>
  </div>
  <div>
    <a:documentation>ELEMENT TYPE NAME PATTERNS</a:documentation>
    <define name="ditavalref">
      <ref name="ditavalref.element"/>
    </define>
    <define name="ditavalmeta">
      <ref name="ditavalmeta.element"/>
    </define>
    <define name="dvrResourcePrefix">
      <ref name="dvrResourcePrefix.element"/>
    </define>
    <define name="dvrResourceSuffix">
      <ref name="dvrResourceSuffix.element"/>
    </define>
    <define name="dvrKeyscopePrefix">
      <ref name="dvrKeyscopePrefix.element"/>
    </define>
    <define name="dvrKeyscopeSuffix">
      <ref name="dvrKeyscopeSuffix.element"/>
    </define>
  </div>
  <div>
    <a:documentation>ATTRIBUTE GROUP PATTERNS</a:documentation>
    <define name="ditavalref-univ-atts">
      <a:documentation>Omits @conkeyref from univ-atts pattern</a:documentation>
      <optional>
        <attribute name="id">
          <data type="NMTOKEN"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="conref"/>
      </optional>
      <optional>
        <attribute name="conrefend"/>
      </optional>
      <optional>
        <attribute name="conaction">
          <a:documentation>This attribute enables users to push content into a new location.</a:documentation>
          <choice>
            <value>mark</value>
            <a:documentation>Marks the reference position.</a:documentation>
            <value>pushafter</value>
            <a:documentation>Push after the marked position.</a:documentation>
            <value>pushbefore</value>
            <a:documentation>Push before the marked position.</a:documentation>
            <value>pushreplace</value>
            <a:documentation>Push and replace content.</a:documentation>
            <value>-dita-use-conref-target</value>
            <a:documentation>Use the value from the conref target.</a:documentation>
          </choice>
        </attribute>
      </optional>
      <ref name="select-atts"/>
      <ref name="localization-atts"/>
    </define>
  </div>
  <div>
    <a:documentation>ELEMENT TYPE DECLARATIONS</a:documentation>
    <div>
      <a:documentation>LONG NAME: DITAVAL Reference</a:documentation>
      <define name="ditavalref.content">
        <zeroOrMore>
          <ref name="ditavalmeta"/>
        </zeroOrMore>
      </define>
      <define name="ditavalref.attributes">
        <optional>
          <attribute name="navtitle"/>
        </optional>
        <optional>
          <attribute name="href"/>
        </optional>
        <optional>
          <attribute name="outputclass"/>
        </optional>
        <optional>
          <attribute name="scope">
            <choice>
              <value>external</value>
              <value>local</value>
              <value>peer</value>
              <value>-dita-use-conref-target</value>
            </choice>
          </attribute>
        </optional>
        <optional>
          <attribute name="format" a:defaultValue="ditaval"/>
        </optional>
        <optional>
          <attribute name="processing-role" a:defaultValue="resource-only"/>
        </optional>
        <ref name="ditavalref-univ-atts"/>
      </define>
      <define name="ditavalref.element">
        <element name="ditavalref" ditaarch:longName="DITAVAL Reference">
          <a:documentation/>
          <ref name="ditavalref.attlist"/>
          <ref name="ditavalref.content"/>
        </element>
      </define>
      <define name="ditavalref.attlist" combine="interleave">
        <ref name="ditavalref.attributes"/>
      </define>
    </div>
  </div>
  <div>
    <a:documentation>LONG NAME: DITAVAL Ref Metadata</a:documentation>
    <define name="ditavalmeta.content">
      <optional>
        <ref name="navtitle"/>
      </optional>
      <group>
        <optional>
          <ref name="dvrResourcePrefix"/>
        </optional>
        <optional>
          <ref name="dvrResourceSuffix"/>
        </optional>
        <optional>
          <ref name="dvrKeyscopePrefix"/>
        </optional>
        <optional>
          <ref name="dvrKeyscopeSuffix"/>
        </optional>
      </group>
    </define>
    <define name="ditavalmeta.attributes">
      <optional>
        <attribute name="lockmeta">
          <choice>
            <value>no</value>
            <value>yes</value>
            <value>-dita-use-conref-target</value>
          </choice>
        </attribute>
      </optional>
      <ref name="ditavalref-univ-atts"/>
    </define>
    <define name="ditavalmeta.element">
      <a:documentation>The &lt;ditavalmeta&gt; element ...</a:documentation>
      <element name="ditavalmeta" a:longName="DITAVAL Ref Metadata">
        <ref name="ditavalmeta.attlist"/>
        <ref name="ditavalmeta.content"/>
      </element>
    </define>
    <define name="ditavalmeta.attlist" combine="interleave">
      <ref name="ditavalmeta.attributes"/>
    </define>
  </div>
  <div>
    <a:documentation>LONG NAME: DITVAL Ref Resource Prefix</a:documentation>
    <define name="dvrResourcePrefix.content">
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="text"/>
        </choice>
      </zeroOrMore>
    </define>
    <define name="dvrResourcePrefix.attributes">
      <optional>
        <attribute name="name" a:defaultValue="dvrResourcePrefix">
          <value>dvrResourcePrefix</value>
        </attribute>
      </optional>
      <ref name="ditavalref-univ-atts"/>
    </define>
    <define name="dvrResourcePrefix.element">
      <a:documentation>The &lt;dvrResourcePrefix&gt; element ...</a:documentation>
      <element name="dvrResourcePrefix" a:longName="DITVAL Ref Resource Prefix">
        <ref name="dvrResourcePrefix.attlist"/>
        <ref name="dvrResourcePrefix.content"/>
      </element>
    </define>
    <define name="dvrResourcePrefix.attlist" combine="interleave">
      <ref name="dvrResourcePrefix.attributes"/>
    </define>
  </div>
  <div>
    <a:documentation>LONG NAME: DITVAL Ref Resource Suffix</a:documentation>
    <define name="dvrResourceSuffix.content">
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="text"/>
        </choice>
      </zeroOrMore>
    </define>
    <define name="dvrResourceSuffix.attributes">
      <optional>
        <attribute name="name" a:defaultValue="dvrResourceSuffix">
          <value>dvrResourceSuffix</value>
        </attribute>
      </optional>
      <ref name="ditavalref-univ-atts"/>
    </define>
    <define name="dvrResourceSuffix.element">
      <a:documentation>The &lt;dvrResourceSuffix&gt; element ...</a:documentation>
      <element name="dvrResourceSuffix" a:longName="DITVAL Ref Resource Suffix">
        <ref name="dvrResourceSuffix.attlist"/>
        <ref name="dvrResourceSuffix.content"/>
      </element>
    </define>
    <define name="dvrResourceSuffix.attlist" combine="interleave">
      <ref name="dvrResourceSuffix.attributes"/>
    </define>
  </div>
  <div>
    <a:documentation>LONG NAME: DITVAL Ref Key Scope Prefix</a:documentation>
    <define name="dvrKeyscopePrefix.content">
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="text"/>
        </choice>
      </zeroOrMore>
    </define>
    <define name="dvrKeyscopePrefix.attributes">
      <optional>
        <attribute name="name" a:defaultValue="dvrKeyscopePrefix">
          <value>dvrKeyscopePrefix</value>
        </attribute>
      </optional>
      <ref name="ditavalref-univ-atts"/>
    </define>
    <define name="dvrKeyscopePrefix.element">
      <a:documentation>The &lt;dvrKeyscopePrefix&gt; element ...</a:documentation>
      <element name="dvrKeyscopePrefix" a:longName="DITVAL Ref Key Scope Prefix">
        <ref name="dvrKeyscopePrefix.attlist"/>
        <ref name="dvrKeyscopePrefix.content"/>
      </element>
    </define>
    <define name="dvrKeyscopePrefix.attlist" combine="interleave">
      <ref name="dvrKeyscopePrefix.attributes"/>
    </define>
  </div>
  <div>
    <a:documentation>LONG NAME: DITVAL Ref Key Scope Suffix</a:documentation>
    <define name="dvrKeyscopeSuffix.content">
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="text"/>
        </choice>
      </zeroOrMore>
    </define>
    <define name="dvrKeyscopeSuffix.attributes">
      <optional>
        <attribute name="name" a:defaultValue="dvrKeyscopeSuffix">
          <value>dvrKeyscopeSuffix</value>
        </attribute>
      </optional>
      <ref name="ditavalref-univ-atts"/>
    </define>
    <define name="dvrKeyscopeSuffix.element">
      <a:documentation>The &lt;dvrKeyscopeSuffix&gt; element ...</a:documentation>
      <element name="dvrKeyscopeSuffix" a:longName="DITVAL Ref Resource Suffix">
        <ref name="dvrKeyscopeSuffix.attlist"/>
        <ref name="dvrKeyscopeSuffix.content"/>
      </element>
    </define>
    <define name="dvrKeyscopeSuffix.attlist" combine="interleave">
      <ref name="dvrKeyscopeSuffix.attributes"/>
    </define>
  </div>
  <div>
    <a:documentation>SPECIALIZATION ATTRIBUTE DECLARATIONS</a:documentation>
    <define name="ditavalref.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="+ map/topicref ditavalref-d/ditavalref "/>
      </optional>
    </define>
    <define name="ditavalmeta.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="+ map/topicmeta ditavalref-d/ditavalmeta "/>
      </optional>
    </define>
    <define name="dvrResourcePrefix.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="+ topic/data ditavalref-d/dvrResourcePrefix "/>
      </optional>
    </define>
    <define name="dvrResourceSuffix.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="+ topic/data ditavalref-d/dvrResourceSuffix "/>
      </optional>
    </define>
    <define name="dvrKeyscopePrefix.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="+ topic/data ditavalref-d/dvrKeyscopePrefix "/>
      </optional>
    </define>
    <define name="dvrKeyscopeSuffix.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="+ topic/data ditavalref-d/dvrKeyscopeSuffix "/>
      </optional>
    </define>
  </div>
</grammar>
